nav
{
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 20px;
    height: 20px;
    
}

section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a
{
    padding-left: 10px;
    color: white;
    text-decoration: none;
    width: 50px;
    height: 100px;
    transition: width 1s, height 1s, background-color 1s;
}
@media screen and (max-width: 1024px) 
{
    article
    {
        display: none;
    }
    
}

@media screen and (min-width: 1024px) 
{
    .burger-boton
    {
        display: none;
    }
    
}
@media screen and (max-width: 700px) 
{
    article
    {
        display: none;
    }
    form
    {
        display: none;
    }
}

.burger-boton
{
    border: none;
  cursor: pointer;
}
h2
{
    
    margin-top: -10px;

}   