body
{
    background-color: bisque;
}

@media screen and (max-width: 1200px)
{
    b::after
    {
        content: "1200px";
        }
    body
    {
        background-color: aqua;
    }
}

@media screen and (min-width: 1200px)
{
    b::after
    {
        content: "∞";
        }
}

@media screen and (max-width: 900px)
{
    b::after
    {
        content: "900px";
        }
    body
    {
        background-color: red;
    }
}

@media screen and (max-width: 700px)
{
    b::after
    {
        content: "700px";
        }
    body
    {
        background-color: green;
    }
}
@media screen and (max-width: 500px)
{
    b::after
    {
        content: "500px";
        }
    body
    {
        background-color: yellow;
    }
}